<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<appSettings file="Secrets.config">
		<add key="TDGSPR_IncidentTypeId" value="{21c59aa0-511a-ec11-b6e7-000d3a09ce95}" />
		<add key="TDGCI_IncidentTypeId" value="{25c59aa0-511a-ec11-b6e7-000d3a09ce95}" />
		<add key="PAXSPR_IncidentTypeId" value="{41c59aa0-511a-ec11-b6e7-000d3a09ce95}" />
		<add key="PAXCI_IncidentTypeId" value="{43c59aa0-511a-ec11-b6e7-000d3a09ce95}" />
		<add key="InspectionWorkOrderTypeId" value="{b1ee680a-7cf7-ea11-a815-000d3af3a7a7}" />
		<add key="RationaleInitDraftId" value="{de3cd7e9-1801-ed11-82e6-002248ae429c}" />

		<add key="TDGSI_IncidentTypeId" value="{2bc59aa0-511a-ec11-b6e7-000d3a09ce95}" />
		<add key="TDGVSI_IncidentTypeId" value="{34c59aa0-511a-ec11-b6e7-000d3a09ce95}" />
		<add key="PAXSI_IncidentTypeId" value="{45c59aa0-511a-ec11-b6e7-000d3a09ce95}" />
		<add key="PAXOSI_IncidentTypeId" value="{c8c934c6-01b5-ec11-983e-000d3af4f373}" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>